{# app/Resources/views/Emails/registration.html.twig #}
<h3>FELICITATION MONSIEUR {{ name }}</h3>

Bonjour MR/MME {{ name }}! .Notre Contrat a été Bien Signé.
Vous Pouvez Nous Rejoindre!



{# example, assuming you have a route named "login" #}


Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
{#<img src="{{ absolute_url(asset('images/logo.png')) }}"><#}