{% extends 'base.html.twig' %}
        {% block contents %}

            {{form(Form)}}
            <a href="{{ path('contrat_list')}}"class="btn btn-success btn-link"><i class="fa fa-list"></i></a>
        {% endblock %}
