{% extends 'base.html.twig' %}

{% block contents %}

    <div class="content mt-3">
    &nbsp    <div class="card">
    <div class="card-header">
        <strong>créer categorie</strong>
    </div>
    <div class="card-body card-block">
        <form action="" method="post" class="form-horizontal">
            <div class="row form-group">
                &nbsp {{ form_start(form) }}
                &nbsp   {{ form_widget(form) }}
                &nbsp   <input type="submit" class="btn btn-primary btn-sm " value="Create" />
                &nbsp{{ form_end(form) }}
            </div>
        </form>
    </div>
            </div>

<div>

    <ul>

            &nbsp   <a href="{{ path('category_index') }}" class="btn btn-lg btn-info btn-block">Back to the list</a>

    </ul> </div>
    </div>

{% endblock %}
