<html>
<head>
    <title>
        Ajout des reclamations
    </title>
</head>
<body>
<center>
    <h1>Ajouter une reclamation</h1>
    <fieldset style="width: 50%">
        {{ form_start(form) }}
        {#        Nom:* {{ form_widget(form.name) }}</br>#}

        {#                {{ form_widget(form.ajouter) }}</br>#}
        {{ form_end(form) }}
    </fieldset>
</center>
</body>
</html>s